.homeContainer {
  text-align: center;
  padding: 20px;
}

.termsContainer {
  margin-top: 20px;
}

.checkboxContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.startTestButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.disabledButton {
  background-color: gray;
  pointer-events: none;
}
